 <div class="home">
     <h1>Welcome Sir/Madam, Please Register on our Website</h1>
     <div class="home-container">
         <h1><a href="/login">Login</a></h1>
         <h1><a href="/signup">Register</a></h1>
     </div>
</div>