<div class="container">
    <h1>Log In</h1>
    <form action="/login" method="post">
        <div class="box">
            <i class="fa fa-envelope"></i>
            <input type="email" name="email" placeholder="Enter Your Email">
        </div>
        <div class="box">
            <i class="fa fa-key"></i>
            <input type="password" name="password" placeholder="Enter Your Password">
        </div>
        <h3 style="color: rgb(214, 93, 93);">{{msg}}</h3>
        <button type="submit" class="btn">Sign in</button>
    </form>
</div>